{% extends "base.html" %}

{% block css %}
    <style>
    tr td input{outline: none;border: 2px solid #E0BD62;font-size: 14px;margin:1em 0;width: 100%;margin-left: 5px}
    #sub{margin-left: 55px;margin-top: 13px;background-color: #f0ad4e;border: 1px solid #FFFFFF;margin-bottom: 10px;width: 170px;height: 50px;font-size: 20px;}
    </style>
{% endblock %}


{% block container %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
{#     style="outline: none;border: 1px solid #D4D3D3;font-size: 14px;margin:1em 0;width: 85%;"#}
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input id="sub" type="submit" value="登录" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'users:register' %}">没有账号?点击注册</a></p>

{% endblock %}