{% extends 'user/base.html' %}

{% block css %}
    <style>
        .errorlist {
            color: red;
        }
        .label_name label{
            width: 80px;
        }
    </style>
{% endblock %}

{% block content %}
        <div id="page-wrapper">
                <h3>修改密码</h3>
                <form class="form" action="{% url 'password_change' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div style="margin-top: 20px" class="label_name">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                        </div>
                    {% endfor %}
                <div>
                    <button style="margin-top: 20px;margin-left: 90px;width: 120px" type="submit" class="btn btn-primary">确认修改</button>
                </div>
                </form>
        </div>
{% endblock %}