{% extends 'base.html' %}

{% block container %}

				<!-- single -->
					<div class="single">
						<h3>{{ post.title }}</h3>
                        <div class="single-left">
							<p>阅读量：<span>{{ post.views }}</span></p>
						</div>
                        <div class="clearfix"> </div>
						<p class="tortor">
                            {{ post.body | safe }}</p>
						<div class="tags-cate">
							<div class="cat-grid">
								<h4><span>文</span>章类别</h4>
								<ul>
                                    <li><a href="#">{{ post.category }}</a></li>
								</ul>
							</div>
							<div class="cat-grid">
								<h4><span>发</span>布时间</h4>
								<ul>
                                    <li><a href="#">{{ post.created_time }}</a></li>
								</ul>
							</div>
							<div class="cat-grid">
								<h4><span>标</span>签</h4>
								<div class="top-social-icons">
										<a href="#">Cards</a>
										<a href="#">Website</a>
										<a href="#">Icons</a>
									<div class="clearfix"> </div>
										<a href="#">Themeforest</a>
										<a href="#">Interfaces</a>
									<div class="clearfix"> </div>
										<a href="#">Inspiration</a>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="three-com">
							<h3>2 Comment <span>on</span> <label>Donec volutpat ligula non dapibus volutpat</label></h3>
							<div class="tom-grid">
								<div class="tom">
									<img src="images/co.png" alt=" ">
								</div>
								<div class="tom-right">
									<div class="Hardy">
										<h4><a href="#">Tom Hardy</a></h4>
										<p><label>12 March 2016</label></p>
									</div>
									<div class="reply">
										<a href="#">Reply</a>
									</div>
									<div class="clearfix"> </div>
									<p class="lorem">There are many variations of passages of Lorem Ipsum available,
									but the majority have suffered alteration in some form, by injected humour,
									or randomised words which don't.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="tom-grid humour">
								<div class="tom">
									<img src="images/co.png" alt=" ">
								</div>
								<div class="tom-right">
									<div class="Hardy">
										<h4><a href="#">Prad Pitt</a></h4>
										<p><label>13 March 2016</label></p>
									</div>
									<div class="reply">
										<a href="#">Reply</a>
									</div>
									<div class="clearfix"> </div>
									<p class="lorem">There are many variations of passages of Lorem Ipsum available,
									but the majority have suffered alteration in some form, by injected humour,
									or randomised words which don't.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="leave-comment">
							<h4>Leave your comment</h4>
							<p>Suspendisse tempor tellus sed nisl semper, quis condimentum turpis pharetra.</p>
							<form action="{% url 'comments:post_comment' post.pk %}" method="post" >
                                {% csrf_token %}
								<label for="{{ form.text.id_for_label }}">评论：</label>
                                {{ form.text }}
                                {{ form.text.errors }}
								<input type="submit" value="Submit">
								<div class="clearfix"> </div>
							</form>
						</div>
					</div>
				<!-- //single -->

{% endblock %}