{% extends 'base.html' %}
{% load static %}

{% block container %}
    				<div class="wmuSlider example1">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="banner">
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="banner1">
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="banner2">
								</div>
							</div>
						</article>
					</div>
				</div>
					<script src="{% static 'js/jquery.wmuSlider.js' %}"></script>
					  <script>
						$('.example1').wmuSlider();
					 </script>
				<div class="banner-bottom">
					<div class="col-md-4 banner-left">
						<div class="col-xs-3 banner-left1">
							<div class="banner-left11">
								<span> </span>
							</div>
						</div>
						<div class="col-xs-9 banner-right1">
							<h3>怎么定义「想清楚了」？</h3>
						</div>
						<div class="clearfix"> </div>
						<p>“想清楚了”就是以后出了什么问题你只能找个没人的地方抽自己，再也不能抱怨别人了。</p>
					</div>
					<div class="col-md-4 banner-left">
						<div class="col-xs-3 banner-left1">
							<div class="banner-left11">
								<span> </span>
							</div>
						</div>
						<div class="col-xs-9 banner-right1">
							<h3>30 岁才开始学习编程靠谱吗？</h3>
						</div>
						<div class="clearfix"> </div>
						<p>种一棵树最好的时间是十年前，其次是现在。————CaunDerre</p>
					</div>
					<div class="col-md-4 banner-left">
						<div class="col-xs-3 banner-left1">
							<div class="banner-left11">
								<span> </span>
							</div>
						</div>
						<div class="col-xs-9 banner-right1">
							<h3>如何成为有想法的人？</h3>
						</div>
						<div class="clearfix"> </div>
						<p>你们有没有发现，很有想法的人往往“厚脸皮”，有想法的人太多了，敢说出来的人太少了。</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="msg-text">
					<div class="col-xs-2 msg-text-left">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 msg-text-right">
						<p>有的时候“慢工出细活”，再进一步讲这就是我们干工作中常说的“脑勤”，再干一件事情之前先清楚再干。很多时候我们盲干，费时费力效果不好，其实比起行动懒惰的更可怕的是思维上的懒惰。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="msg-text-bottom">
					<div class="col-md-4 msg-text-bottom-left">
						<figure class="effect-winston">
							<a href="#"><img src="{% static 'images/4.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>

							</figcaption>
							</a>
						</figure>

						<h3><a href="single.html">挤时间,好书需要读三遍！</a></h3>
						<p>时间就像海绵里的水，挤挤总会有的；时间就像美女的胸，挤挤都会有的！要想真正掌握一本书的核心内容，需要读三遍。</p>
					</div>
					<div class="col-md-4 msg-text-bottom-left">
						<figure class="effect-winston">
							<a href="#"><img src="{% static 'images/5.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>

							</figcaption>
							</a>
						</figure>
						<h3><a href="#">碎片化时间系统化学习！</a></h3>
						<p>将碎片化的时间用来系统的学习某项知识或者技术，例如如果你想真正掌握微服务，就需要系统的学习，最方便的方式就是买几本微服务的书去啃！</p>
					</div>
					<div class="col-md-4 msg-text-bottom-left">
						<figure class="effect-winston">
							<a href="#"><img src="{% static 'images/6.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>

							</figcaption>
							</a>
						</figure>
						<h3><a href="#">不管记不记得住，坚持看！</a></h3>
						<p>对于一项新知识或者新技能，一般情况下你坚持看 3~5 本相关的书，就会发现整个知识或者技能体系已经基本涵盖完毕，同样的内容会反复的在不同的书中出现，越看到后面，看书的速度越快。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
{% endblock %}