{% extends "user/base.html" %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">个人信息</h3>
            </div>
        </div>
         <img style="height: 270px;width: 270px;border: black solid 3px" src="{{ user.icon.url }}" alt="">
                        <p style="color: black;font-size: 22px;margin-top: 20px">昵称：<span>{{ user.nickname }}</span></p>
                        <p style="color: black;font-size: 22px;margin-top: 20px">邮箱：<span style="font-size: 17px">{{ user.email }}</span></p>
        </div>

    </div>

{% endblock %}