{% extends '../base.html' %}

{% block container %}
<form method='POST' action='/user/login/'>
    {% csrf_token %}

    {% if error %}
        <div>
            错误：{{ error }}
        </div>
        <hr>
    {% endif %}
    <div>
        <label>昵称</label>
        <input name='nickname' type='text' value='{{ nickname }}'>
    </div>
    <div>
        <label>密码</label>
        <input name='password' type='password' value='{{ password }}'>
    </div>

    <div>
        <button type="submit">提交</button>
    </div>
</form>
{% endblock %}