{% extends 'base.html' %}

{% block container %}
<h3>注册</h3>
                <form class="form" action="{% url 'users:register' %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                <ul>
                    {% for field in form %}
                        <li>
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                        </li>
                    {% endfor %}
                  </ul>
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <div class="flex-center top-gap text-small">
                    <a href="#">已有账号登录</a>
                </div>
{% endblock %}